.collection-page {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;

    .title {
        font-size: 3.8rem;
        margin: 0 auto 3rem;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 1rem;

        @media only screen and (max-width: 1200px) {
            grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
            grid-gap: 2rem;
            justify-items: center;
        }

        & .collection-item {
            margin-bottom: 3rem;
        }
    }
}
